/* Empty. Add your own CSS if you like */


.pic-preview{
margin:auto;
text-align: center;
}

.img-prev{


        margin:auto;
        min-width: 200px;
        min-height: 200px;
        max-width:80%;
        border-style: solid;
        border-width: 1px;


}

.home-page{
  background-image: url('../img/cover.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fff;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

.home-content{

  margin-top: 30%;

}

.logo{

  text-align: center;
}

.lite-bg{
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */

}

.comments{
    border:1px solid;
    border-color: #EF473A;
    width: 100%;
}


.preview-view{

  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;

}
/*
input[type="text"]{
    border:1px solid;
    border-color: #EF473A;
    width: 100%;
    padding-top: 5px;
}*/
